/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: ghostwhite;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}



/* adjust typography defaults */
body {
  margin: 1.5em;
  font-family: Tahoma, Verdana, sans-serif;
  line-height: 1.5;
  color: #000000;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.hidden{
  display: none !important;
}

h1{
  font-family: Verdana, Geneva, sans-serif; 
  font-style: italic;
  color: royalblue;
}

.instruction{
  border: solid lightblue;
  padding: 5px;
}

#timer{
  border: 1px solid black;
  position: relative;
  height: 145px;
  width: 100%;
  background-color: white; 
}

#timer>#clock{
  margin-left: 40%;
  margin-right: 40%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border: solid black;
}

#timer>#timerProgress{
  font-size:30px;
  height: 43px;
  width: 10%;
  text-align: right;
  position: absolute;
  background-image: linear-gradient(180deg, white, lightblue);
}

button{
  padding: 10px;
  border-radius: 10px;
}




#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
  margin-top: 10px;
}

#btn1{
  background-image: url(https://cdn.glitch.global/0d10ae2a-3f32-41b9-866d-ffdb62c20ea9/green_bird.jpg?v=1648099646149);
  background-size: cover;
}

#btn1:active, #btn1.lit{
  border: 3px solid lime;
}

#btn2{
  background-image: url(https://cdn.glitch.global/0d10ae2a-3f32-41b9-866d-ffdb62c20ea9/blue_shark.jpg?v=1648099646575);
  background-size: cover;
}
#btn2:active, #btn2.lit{
  border: 3px solid skyblue;
}

#btn3{
  background-image: url(https://cdn.glitch.global/0d10ae2a-3f32-41b9-866d-ffdb62c20ea9/red_scarlet_ibis.jpg?v=1648099649528);
  background-size: cover;
  background-position: center; 
}
#btn3:active, #btn3.lit{
  border: 3px solid #FF2400;
}

#btn4{
  background-image: url(https://cdn.glitch.global/0d10ae2a-3f32-41b9-866d-ffdb62c20ea9/yellow_rat.jpg?v=1648099735636);
  background-size: cover;
  background-position: center; 
}
#btn4:active, #btn4.lit{
  border: 3px solid khaki; 
}
